<!DOCTYPE html>

<html>
<head>
    <title>Error 404</title>
<link rel="icon" href="../../public/css/img/weather.png"/>
<link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    {{>header}}
</body>
    </html>